on:
  pull_request:
    branches: [ main ]

name: Check

permissions:
  contents: read

jobs:
  check:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24.x
      - name: Run tests
        run: |
          npm ci
          npm test
          npm run build
